<h1>ようこそ！</h1>
<h2>ここは社内の知恵や経験、問題点などを共有する場所です！</h2>
<header>
<ul>
 <% if user_signed_in? %>
 <div><%= "こんにちは!#{current_user.nickname}さん" %></div>
 <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
 <% else %>
 <li><%= link_to "ユーザー新規登録", new_user_registration_path %></li>
 <li><%= link_to "ログイン", new_user_session_path %></li>
 <% end %>
</ul>
<%=link_to "投稿する",new_post_path %>
</header>

<body>
<p>投稿された内容一覧</p>
<% @posts.each do |post| %>
 <%= "・タイトル：#{post.title} 投稿日:#{post.created_at.strftime('%Y/%m/%d')}" %><br>
 <%= image_tag post.image.variant(resize: '100x100') if post.image.attached? %><br>
<% end %>
</body>

<footer>
</footer>