<h1>ようこそ！</h1>
<h2>ここは社内の知恵や経験、問題点などを共有する場所です！</h2>
<header>
<%= render partial: "header"%>
</header>

<body>

<%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>


<p>投稿された内容一覧</p>
<div class="main">
<% @posts.each do |post| %>
 <%= "・タイトル：#{post.title} 投稿日:#{post.created_at.strftime('%Y/%m/%d')}" %><br>
 <%= image_tag post.image.variant(resize: '100x100') if post.image.attached? %><br>
        <ul class="tag">
          <li class="tag-list">
            <%post.tags.each do |tag| %>
              #<%=tag.name%>
            <%end%>
          </li>
        </ul>
    <% end %>
 </div>
</body>

<footer>
</footer>