<h1> あなたの知恵を貸してください。>_< </h1>

<%= form_with model: @post, url: posts_path, local: true do |f|%>
<%= render 'shared/error_messages', model: f.object %>
  <div class="field">
    <%= f.label :title, "投稿タイトル" %><br />
    <%= f.text_field :title,class: :form__title %>
  </div>

  <div class="field">
    <%= f.label :text, "投稿内容" %><br />
    <%= f.text_area :text, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :answer, "解決策" %><br />
    <%= f.text_area :answer, class: :form__text %>
  </div>

  <div class="tag-field", id='tag-field'>
      <%= f.label :name, "タグ" %><br />
      <%= f.text_field :name, class:"input-tag" %>
  </div>

    <div id="search-result">
    </div>

  <div class="field">
    <%= f.label :image, "参考画像" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "投稿する", class: :form__btn  %>
  </div>
<% end %>